{% extends '@App/layouts/base.html.twig' %}

{% block body %}
    <div class="content-wrapper">
        <div class="container-fluid">

            <!-- Breadcrumbs-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="#">Dashboard instances</a>
                </li>
                <li class="breadcrumb-item active">My Dashboard</li>
            </ol>
            <!-- Icon Cards-->

            <ul class="nav nav-tabs mb-3" id="myTab" role="tablist">

                <li class="nav-item">
                    <a class="nav-link active" id="summary-tab" data-toggle="tab" href="#summary"
                       data-tab-history="true"
                       data-tab-history-changer="push"
                       data-tab-history-update-url="true">Summary</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="instances-tab" data-toggle="tab" href="#instances"
                       data-tab-history="true"
                       data-tab-history-changer="push"
                       data-tab-history-update-url="true">Instances</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="licenses-tab" data-toggle="tab" href="#licenses"
                       data-tab-history="true"
                       data-tab-history-changer="push"
                       data-tab-history-update-url="true">Licenses</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="reports-tab" data-toggle="tab" href="#reports"
                       data-tab-history="true"
                       data-tab-history-changer="push"
                       data-tab-history-update-url="true">Reports</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="server_health-tab" data-toggle="tab" href="#server_health"
                       data-tab-history="true"
                       data-tab-history-changer="push"
                       data-tab-history-update-url="true">Server Health</a>
                </li>
            </ul>

            <div class="tab-content" id="myTabContent">

                <div class="tab-pane fade active show" id="summary">

                    <div class="col-xl-12 col-sm-12 mb-2">
                        <div class="card-body alert alert-info" role="alert">
                            <span>You have {{ activeInstanceCount() + suspendedInstanceCount() }} instances, {{ activeInstanceCount() }} activated instances and {{ suspendedInstanceCount() }}
                                suspended instances </span>
                        </div>
                    </div>

                    <div class="col-xl-12 col-sm-12 mb-12">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="card padd">
                                    <div class="card-header">
                                        <i class="fa fa-area-chart"></i> CPU, % usage:
                                    </div>
                                    <div id="CPU_chart_div"></div>
                                    <div class="card-footer small text-muted">Updated yesterday at 12:48 PM</div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="card padd">
                                    <div class="card-header">
                                        <i class="fa fa-area-chart"></i> RAM, MB usage:
                                    </div>
                                    <div id="RAM_chart_div"></div>
                                    <div class="card-footer small text-muted">Updated yesterday at 12:48 PM</div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="card padd">
                                    <div class="card-header">
                                        <i class="fa fa-area-chart"></i> HDD, GB usage:
                                    </div>
                                    <div id="HDD_chart_div"></div>
                                    <div class="card-footer small text-muted">Updated yesterday at 12:48 PM</div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <!--  Chart Card-->
                                <div class="card mb-3">
                                    <div class="card-header">
                                        <i class="fa fa-bar-chart"></i> Instance usage:
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-sm-3 text-center my-auto">
                                                <div class="h5 mb-0 text-primary">{{ cpuinfo }} %</div>
                                                <div class="small text-muted">CPU</div>
                                                <hr>
                                            </div>
                                            <div class="col-sm-3 text-center my-auto">
                                                <div class="h5 mb-0 text-warning">{{ meminfo.MemUsed }} MB
                                                    of {{ meminfo.MemTotal }} MBs
                                                </div>
                                                <div class="small text-muted">RAM</div>
                                                <hr>
                                            </div>
                                            <div class="col-sm-3 text-center my-auto">
                                                <div class="h5 mb-0 text-success">{{ diskinfo.DisckUsed }} GB
                                                    of {{ diskinfo.DisckTotal }} GBs
                                                </div>
                                                <div class="small text-muted">HDD Spaces</div>
                                                <hr>
                                            </div>
                                            <div class="col-sm-3 text-center my-auto">
                                                <div class="h5 mb-0 text-success">100 GB of 250 GBs</div>
                                                <div class="small text-muted">HDD Backup Spaces</div>
                                                <hr>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-12">
                        <!-- Example DataTables Card-->
                        <div class="card mb-3">
                            <div class="card-header">
                                <i class="fa fa-table"></i> Instances summary
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                        <thead>
                                        <tr>
                                            <th>№</th>
                                            <th>Instance</th>
                                            <th>User MA</th>
                                            <th>Licenses issued</th>
                                            <th>Rate</th>
                                            <th>Monthly revenue $</th>
                                            <th>Resources used</th>
                                            <th>Status</th>
                                        </tr>
                                        </thead>
                                        <tfoot>
                                        <tr>
                                            <th>№</th>
                                            <th>Instance</th>
                                            <th>User MA</th>
                                            <th>Licenses issued</th>
                                            <th>Rate</th>
                                            <th>Monthly revenue $</th>
                                            <th>Resources used</th>
                                            <th>Status</th>
                                        </tr>
                                        </tfoot>
                                        <tbody>
                                        {% for instance in instances %}
                                            {% set instanceInvoices = findBy('AppBundle:Invoice', {'instance': instance.id}) %}
                                            <tr>
                                                <td>{{ loop.index }}</td>
                                                <td>{{ instance.name }}</td>
                                                <td>{{ instance.user.username }}</td>
                                                <td>{{ instance.licenseIssued }}</td>
                                                <td>{{ instance.licenseRate }}</td>
                                                <td>
                                                    {% if invoices is not empty %}
                                                        {% for invoice in invoices %}
                                                            {% if invoice.instance.id == instance.id %}

                                                                {{ invoice.price }}$ @ {{ invoice.creationDate|date("Y-m-d") }}
                                                                <br>
                                                                Status: {{ invoice.status }}<br>
                                                                Next invoice: {{ invoice.expirationDate|date("Y-m-d") }}
                                                                <br>
                                                            {% endif %}
                                                        {% endfor %}

                                                    {% else %}
                                                        <div class="alert alert-warning" role="alert">
                                                            Sorry! This instance has no last invoice!
                                                        </div>
                                                    {% endif %}
                                                </td>

                                                <td>
                                                    {% for resource in instance.resources %}
                                                        {% if resource.value %}
                                                            {% if resource.resource.name == 'RAM' %}
                                                                {{ resource.resource.name }}: {{ resource.value }} MB -
                                                            {% elseif resource.resource.name == 'CPU' %}
                                                                {{ resource.resource.name }}: {{ resource.value }} % -
                                                            {% elseif resource.resource.name == 'HDD' %}
                                                                {{ resource.resource.name }}: {{ resource.value }} GB
                                                            {% endif %}
                                                        {% else %}
                                                            {% if resource.resource.name == 'RAM' %}
                                                                {{ resource.resource.name }}: {{ resource.resource.defaultValue }} MB
                                                                -
                                                            {% elseif resource.resource.name == 'CPU' %}
                                                                {{ resource.resource.name }}: {{ resource.resource.defaultValue }} %
                                                                -
                                                            {% elseif resource.resource.name == 'HDD' %}
                                                                {{ resource.resource.name }}: {{ resource.resource.defaultValue }} GB
                                                                -
                                                            {% endif %}
                                                        {% endif %}
                                                    {% endfor %}
                                                </td>
                                                <td>{{ instance.status }}</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
                        </div>

                    </div>
                </div>
                <div class="tab-pane container-t fade" id="instances">
                    <div class="col-xl-12 col-sm-12 mb-12">
                        <div class="card-body">
                            <div class="row padd">
                                <div class="col-lg-2 ">
                                    <a href="/instance/new" class="btn btn-primary btn-block"> Add new instance</a>
                                </div>
                                <div class="col-lg-2 ">
                                    <a class="btn btn-primary btn-block" href="/resources"> Change default Resources</a>
                                </div>
                            </div>
                            <table class="table table-bordered" data-current-offset="0" id="infiniteScrollBody"
                                   data-url="{{ url('api_get_instances') }}"
                                   data-method="GET" width="100%" cellspacing="0">
                                {% for instance in instances %}
                                    <thead>
                                    <tr>
                                        <th>Instance</th>
                                        <th>User MA</th>
                                        <th>Resources used:</th>
                                        <th>Resources limits:</th>
                                        <th>Licenses:</th>
                                        <th>Latest invoice:</th>
                                        <th>Instance status: {{ instance.status }} </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>

                                        <td>{{ instance.name }}</td>
                                        <td>{{ instance.user.username }}</td>
                                        <td>
                                            Average CPU:25%<br>
                                            Average RAM: 256 Mb<br>
                                            Average HDD: 2345 Mb
                                        </td>
                                        <td>
                                            {% for resource in instance.resources %}
                                                {% if resource.value %}
                                                    {% if resource.resource.name == 'RAM' %}
                                                        {{ resource.resource.name }}: {{ resource.value }} MB  <br>
                                                    {% elseif resource.resource.name == 'CPU' %}
                                                        {{ resource.resource.name }}: {{ resource.value }} %  <br>
                                                    {% elseif resource.resource.name == 'HDD' %}
                                                        {{ resource.resource.name }}: {{ resource.value }} GB  <br>
                                                    {% endif %}
                                                {% else %}
                                                    {% if resource.resource.name == 'RAM' %}
                                                        {{ resource.resource.name }}: {{ resource.resource.defaultValue }} MB
                                                        <br>
                                                    {% elseif resource.resource.name == 'CPU' %}
                                                        {{ resource.resource.name }}: {{ resource.resource.defaultValue }} %
                                                        <br>
                                                    {% elseif resource.resource.name == 'HDD' %}
                                                        {{ resource.resource.name }}: {{ resource.resource.defaultValue }} GB
                                                        <br>
                                                    {% endif %}
                                                {% endif %}
                                            {% endfor %}
                                        </td>
                                        <td>
                                            {% if instance.licenseIssued and instance.licenseRate is empty %}
                                                <div class="alert alert-warning" role="alert">
                                                    Sorry! This instance has no license!
                                                </div>
                                            {% else %}
                                                Issued: {{ instance.licenseIssued }} <br>
                                                Usage: {{ instance|getUsageLicenseCount }} <br>
                                                Rate: {{ instance.licenseRate }}$/license/month <br>
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if invoices is not empty %}
                                                {% for invoice in invoices %}
                                                    {% if invoice.instance.id == instance.id %}

                                                        {{ invoice.price }}$ @ {{ invoice.creationDate|date("Y-m-d") }}
                                                        <br>
                                                        Status: {{ invoice.status }}<br>
                                                        Next invoice: {{ invoice.expirationDate|date("Y-m-d") }}
                                                        <br>
                                                    {% endif %}
                                                {% endfor %}

                                            {% else %}
                                                <div class="alert alert-warning" role="alert">
                                                    Sorry! This instance has no last invoice!
                                                </div>
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if instance.deployingStatus == 'pending' %}
                                                <a class="btn btn-info btn-block"
                                                   href="{{ url('deploy-instance', {'instance': instance.id}) }}">Deploy</a>
                                            {% elseif instance.deployingStatus == 'deploying' %}
                                                <a class="btn btn-warning btn-block" href="#"><i
                                                            class="fas fa-spinner fa-spin"></i> Deploying</a>
                                            {% else %}
                                                <a class="btn btn-success btn-block" href="#">Deployed</a>
                                            {% endif %}
                                            <a class="btn btn-primary btn-block"
                                               href="{{ url('instance-resources', {'instance': instance.id }) }}"> Resources</a>
                                            {% if instance.status == 'suspended' %}
                                                <a class="btn btn-success btn-block" href="{{ url('change-status', {'instance': instance.id, 'status': 'active'}) }}">Activated</a>

                                            {% else %}
                                                <a class="btn btn-warning btn-block" href="{{ url('change-status', {'instance': instance.id, 'status': 'suspended'}) }}">Suspended</a>

                                            {% endif %}
                                        </td>
                                    </tr>
                                    </tbody>
                                {% endfor %}
                            </table>
                            <div class="col-lg-12">
                                <p class="infinite-scroll-last">End of content</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="licenses">
                    <div class="card-body">
                        <div class="row padd">
                                <table class="table table-bordered" data-current-offset="0" id="infiniteScrollBody"
                                       data-url="{{ url('api_get_instances') }}"
                                       data-method="GET" width="100%" cellspacing="0">

                                    <thead>
                                    <tr>
                                        <th>№ </th>
                                        <th>Instance</th>
                                        <th>User MA</th>
                                        <th>License Issued:</th>
                                        <th>License Rate:</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for instance in instances %}
                                    <tr>
                                        <td>{{ loop.index }}</td>
                                        <td>{{ instance.name }}</td>
                                        <td>{{ instance.user.username }}</td>
                                        <td>{{ instance.licenseIssued }}</td>
                                        <td>{{ instance.licenseRate }}</td>
                                        <td>
                                            <a class="btn btn-primary btn-block" href="{{ url('edit-instance-license', {'instance': instance.id }) }}"> Change license</a>
                                        </td>
                                    </tr>
                                    </tbody>
                                    {% endfor %}
                                </table>

                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="reports">
                    <div class="row padd">
                        <div class="col-lg-6">
                            <div class="card mb-3">
                                <div class="card-header">
                                    <i class="fa fa-area-chart"></i> Active instances / month
                                </div>
                                <div class="card-body">
                                    <div id="Active_chart"></div>
                                </div>
                                <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="card mb-3">
                                <div class="card-header">
                                    <i class="fa fa-area-chart"></i> Suspended instances / month
                                </div>
                                <div class="card-body">
                                    <div id="Suspended_chart"></div>
                                </div>
                                <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="card mb-3">
                                <div class="card-header">
                                    <i class="fa fa-area-chart"></i> Issued licenses / month
                                </div>
                                <div class="card-body">
                                    <div id="Issued_chart"></div>
                                </div>
                                <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="card mb-3">
                                <div class="card-header">
                                    <i class="fa fa-area-chart"></i> Total revenues / month
                                </div>
                                <div class="card-body">
                                    <div id="Price_chart"></div>
                                </div>
                                <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="server_health">
                    <div class="col-xl-12 col-sm-12 mb-12 row">
                        <div class="card-body">
                            <p>Server uptime: {{ uptime }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="card-body">
                                <p>Latest backup: 02/03/2018</p>
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <button class=" btn btn-primary btn-block"> Backup managment</button>
                        </div>
                        <div class="col-lg-2">
                            <button class=" btn btn-primary btn-block"> Download backup</button>
                        </div>
                        <div class="col-lg-2">
                            <button class=" btn btn-primary btn-block"> Restore backup</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card-body">
                                <p>HDD S.M.A.R.T status: OK</p>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="card-body">
                                <p>Server configuration:</p>
                                <ul>
                                    <li>{{ servinfo['model name'] }}</li>
                                    <li>cpu cores:{{ servinfo['cpu cores'] }}</li>
                                    <li> {{ meminfo.MemTotalGb }} GB DDR 3 RAM</li>
                                    <li>{{ diskinfo.DisckTotalTb }} TB HDD</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <!-- /.container-fluid-->
            <!-- /.content-wrapper-->
            <footer class="sticky-footer">
                <div class="container">
                    <div class="text-center">
                        <small>Copyright © Boom Reviews 2018</small>
                    </div>
                </div>
            </footer>
            <!-- Scroll to Top Button-->
            <a class="scroll-to-top rounded" href="#page-top">
                <i class="fa fa-angle-up"></i>
            </a>

        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {#<script src="/js/infiniteScroll.js"></script>#}
    <script type="text/javascript">
        $(function () {
            $('#select-instance').change(function (e) {
                $.get('/api/licenses/' + e.target.value, function (data) {
                    let issued = $('#license-issued');

                    issued.text(data.issued);
                    document.getElementById("issuedValue").value = data.issued;

                    let changeLicensesValueForm = $('#change-licenses-value');

                    changeLicensesValueForm.attr('action', '/licenses/' + data.id);

                });

                $.get('/api/licenses/' + e.target.value, function (data) {
                    let rate = $('#license-rate');

                    rate.text(data.rate);
                    document.getElementById("rateValue").value = data.rate;

                    let changeLicensesValueForm = $('#change-license-rate');

                    changeLicensesValueForm.attr('action', '/licenses/' + data.id);

                });

                $.get('/api/invoices/' + e.target.value, function (data) {
                    $('.invoice-price').each(function (index, element) {
                        $(element).text(data.price);
                    });

                });

            })

        })
    </script>
{% endblock %}
{% block stylesheets %}

{% endblock %}