{% extends '@App/layouts/base.html.twig' %}

{% block body %}
    <div class="content-wrapper">
        <div class="container-fluid">
            <div class="col-md-12">
                <h3>Manage User:</h3>
                <hr>
                <form action="{{ url('edit-user', {'user': user.id}) }}" method="POST" enctype="multipart/form-data">
                    <div class="form-row">
                    </div>
                    <div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="userName">User name:</label>
                                <input type="hidden" name="user[id]" value="{{ user.id }}">
                                <input name="user[username]" type="text"
                                       value="{{ user.username }}" id="userName"
                                       class="form-control">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="userEmail">E-mail:</label>
                                <input name="user[email]" type="text"
                                       value="{{ user.email}}" id="userEmail"
                                       class="form-control">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="contactPhone">Contact phone:</label>
                                <input name="user[contactPhone]" type="text"
                                       value="{{ user.contactPhone }}" id="contactPhone" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="primaryLanguage">Primary language:</label>
                                <input name="user[primaryLanguage]" type="text"
                                       value="{{ user.primaryLanguage }}" id="primaryLanguage" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="userPhoto">Logo:</label>
                                <input type="file" name="user[photo]" id="userPhoto" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 form-row">
                        <div class="col-md-1 ">
                            <button type="submit" class="btn btn-success btn-block">Save</button>
                        </div>
                        <div class="col-md-1 ">
                            <a href="{{ asset('users') }}" class="btn btn-primary btn-block ">Cancel </a>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}

{% endblock %}