<!DOCTYPE html>
<html lang="en">
<head>
    <base href="./">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% if app.request.attributes.get('_route') == 'funnel' and funnelTabContent.logo is defined %}
        <meta content="{{ ('missing' in funnelTabContent.logo)?'false': 'true' }}" name="site-logo-exists"/>
        <meta content="{{ funnelTabContent.logo }}" name="site-logo-url-thumb"/>
        <meta content="62763" name="page-id" />
    {% endif %}

    {% if currentBusiness.uid is defined and currentBusiness.uid %}
        <meta content="{{ currentBusiness.uid }}" name="site-uuid"/>
    {% endif %}

    <!-- Custom fonts for this template-->

    <link rel="shortcut icon" href="{{ asset('favicon.png') }}">
    {#<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">#}


    <!-- Latest compiled and minified CSS -->
    {#<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">#}

    <!-- Optional theme -->
    {#<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">#}


    <title>Dashboard</title>

    {#<title>{{ siteSettings.title }}</title>#}

    <!-- Icons-->
    {#<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>#}
    {#<link href="{{ asset('vendors/@coreui/icons/css/coreui-icons.min.css') }}" rel="stylesheet">#}
    {#<link href="{{ asset('vendors/flag-icon-css/css/flag-icon.min.css') }}" rel="stylesheet">#}
    {#<link href="{{ asset('vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet') }}" type="text/css">#}
    {#<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"#}
    {#integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">#}
    {#<link href="{{ asset('vendors/simple-line-icons/css/simple-line-icons.css') }}" rel="stylesheet">#}

    <!-- Main styles for this application-->
    {#<link rel="stylesheet" href="{{ asset('vendor/bootstrap/dist/css/bootstrap.min.css') }}">#}
    <link rel="stylesheet" href="{{ asset('vendor/font-awesome/css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ asset('vendor/themify-icons/css/themify-icons.css') }}">
    {#<link rel="stylesheet" href="{{ asset('vendor/flag-icon-css/css/flag-icon.min.css') }}">#}
    {#<link rel="stylesheet" href="{{ asset('vendor/selectFX/css/cs-skin-elastic.css') }}">#}
    {#<link rel="stylesheet" href="{{ asset('vendor/jqvmap/dist/jqvmap.min.css') }}">#}

    <!-- Bootstrap core CSS-->

    {#<link href="{{ asset('vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">#}

    {#<link rel="stylesheet" href="{{ asset('css/'~siteSettings.colorScheme~'/style.css') }}?version={{ assetVersion() }}">#}
    {#<link href="{{ asset('css/parser.css') }}?version={{ assetVersion() }}" rel="stylesheet">#}
    {#<link href="{{ asset('css/intlTelInput.min.css') }}" rel="stylesheet">#}
    {#<link href="{{ asset('css/star-rating-svg.css') }}" rel="stylesheet">#}
    {#<link href="{{ asset('css/bootstrap-tagsinput.css') }}" rel="stylesheet">#}
    {#<link href="{{ asset('css/jquery-ui.min.css') }}" rel="stylesheet">#}
    {#<link href="{{ asset('css/toastr.min.css') }}" rel="stylesheet">#}
    {#<link href="{{ asset('css/bootstrap-glyphicons.css') }}" rel="stylesheet">#}
    {#<link href="{{ asset('css/social-media-icons.css') }}" rel="stylesheet">#}
    {#<link href="{{ asset('css/BsMultiSelect.min.css') }}" rel="stylesheet">#}
    {#<link href="{{ asset('css/jquery.timepicker.min.css') }}" rel="stylesheet">#}
    {#<link href="{{ asset('css/select2.min.css') }}" rel="stylesheet">#}

    <!-- Individual Dashboard styles -->
    {#<link rel="stylesheet" href="{{ asset('css/main.css')}}" >#}
    <link rel="stylesheet" href="{{ asset('css/dashboard.css') }}">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">


    {% block stylesheets %}

    {% endblock %}


    {#<script src="{{ asset('vendor/jquery/dist/jquery.min.js') }}"></script>#}
    {#<script src="{{ asset('vendor/popper.js/dist/umd/popper.min.js') }}"></script>#}
    {#<script src="{{ asset('vendor/bootstrap/dist/js/bootstrap.min.js') }}"></script>#}
    {#<script src="{{ asset('js/main.js') }}"></script>#}


    {#<script src="{{ asset('vendor/chart.js/dist/Chart.bundle.min.js') }}"></script>#}
    {#<script src="{{ asset('js/dashboard.js') }}"></script>#}
    {#<script src="{{ asset('js/widgets.js') }}"></script>#}
    {#<script src="{{ asset('vendor/jqvmap/dist/jquery.vmap.min.js') }}"></script>#}
    {#<script src="{{ asset('vendor/jqvmap/examples/js/jquery.vmap.sampledata.js') }}"></script>#}
    {#<script src="{{ asset('vendor/jqvmap/dist/maps/jquery.vmap.world.js') }}"></script>#}

    {#<script>#}
        {#(function($) {#}
            {#"use strict";#}

            {#jQuery('#vmap').vectorMap({#}
                {#map: 'world_en',#}
                {#backgroundColor: null,#}
                {#color: '#ffffff',#}
                {#hoverOpacity: 0.7,#}
                {#selectedColor: '#1de9b6',#}
                {#enableZoom: true,#}
                {#showTooltip: true,#}
                {#values: sample_data,#}
                {#scaleColors: ['#1de9b6', '#03a9f5'],#}
                {#normalizeFunction: 'polynomial'#}
            {#});#}
        {#})(jQuery);#}
    {#</script>#}

    {#<script src="{{ asset('assets/scripts/index.js') }}"></script>#}



</head>

<body class="app">

<div id="loader">
    <div class="spinner"></div>
</div>

<script type="text/javascript" async="" src="https://www.google-analytics.com/analytics.js"></script>

<script>window.addEventListener('load', () => {
        const loader = document.getElementById('loader');
        setTimeout(() => {
            loader.classList.add('fadeOut');
        }, 300);
    });
</script>

<div>

{% include '@App/layouts/sidebar.html.twig' %}

{% include '@App/layouts/header.html.twig' %}


{% if  app.request.attributes.get('_route') in ['sign-in', 'registration'] == false %}
    {#{% include '@App/layouts/sidebar.html.twig' %}#}
{% endif %}





{% block body %}

{% endblock %}

</div>



<script type="text/javascript" src="{{ asset('js/vendor.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/bundle.js') }}"></script>

    <!-- Latest compiled and minified JavaScript -->
{#<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>#}


<!-- Bootstrap core JavaScript-->
{#<script src="https://code.jquery.com/jquery-3.3.1.min.js"#}
        {#integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="#}
        {#crossorigin="anonymous"></script>#}
{#<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"#}
        {#integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"#}
        {#crossorigin="anonymous"></script>#}
{#<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"#}
        {#integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"#}
        {#crossorigin="anonymous"></script>#}
{#<script src="{{ asset('js/bootstrap-tab-history.js') }}"></script>#}
<!-- Core plugin JavaScript-->
{#<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>#}
{#<script src="{{ asset('public/js/main.js') }}"></script>#}

{% block javascripts %}

    {#<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>#}
    {#<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>#}
    {#<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>#}
{% endblock %}

{#{% include '@App/layouts/modals.html.twig' %}#}
{#{% block modal %}{% endblock %}#}
</body>
</html>